@{
    ViewData["Title"] = "FAQ";
}

<div class="faq-page-continer">
    <h1>Запитання та відповіді</h1>
    <div id="accordion">
        <h3>Оплата та показники лічильника</h3>
        <div class="card">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Як подати показники лічильника?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    Ви можете подати показники лічильника через наш сайт, увійшовши до особистого кабінету, або зателефонувавши до нашої служби підтримки за номером +38 (012) 345-67-89.
                </div>
            </div>
        </div> 
        <div class="card">
            <div class="card-header" id="headingTwo">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Як оплатити рахунки за газ?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                <div class="card-body">
                    Оплатити рахунки за газ можна онлайн через наш сайт, у будь-якому банківському відділенні, або за допомогою платіжних терміналів.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEight">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Що робити, якщо я неправильно передав показники лічильника?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight">
                <div class="card-body">
                    Якщо ви помилково передали неправильні показники лічильника, будь ласка, зв'яжіться з нашою службою підтримки клієнтів якнайшвидше. Вони допоможуть вам виправити дані та уникнути можливих непорозумінь.
                </div>
            </div>
        </div>
        <h3>Особовий рахунок</h3>
        <div class="card">
            <div class="card-header" id="headingSeven">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Як зареєструвати особистий кабінет?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                <div class="card-body">
                    Щоб створити особистий кабінет на нашому сайті, вам потрібно перейти до розділу "Реєстрація", заповнити всі необхідні поля, включаючи ваші особисті дані та номер лічильника, та підтвердити реєстрацію за допомогою електронної пошти.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Як дізнатися номер свого особового рахунку?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                <div class="card-body">
                    Номер особового рахунку написаний на вашому газовому лічильнику. Ви можете знайти його, подивившись на інформаційну табличку або наклейку на лічильнику. Також номер особового рахунку можна знайти на квитанціях за газ або в договорі, укладеному з газовою компанією.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Як переглянути показники лічильника за минулі місяці та суми нараховані до оплати?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                <div class="card-body">
                    Увійдіть до особистого кабінету і перейдіть до розділу "Показники лічильника", де ви зможете переглянути всю необхідну інформацію. Ви також маєте змогу сформувати звіт за заданий період та завантажити його.
                </div>
            </div>
        </div>
        <h3>Технічні питання</h3>
        <div class="card">
            <div class="card-header" id="headingFive">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    Як запросити технічне обслуговування?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                <div class="card-body">
                    Для замовлення технічного обслуговування зателефонуйте до нашої служби підтримки за номером +38 (012) 345-67-89
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Що робити у випадку аварійної ситуації?
                </button>
                <i class="fa fa-chevron-down"></i>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                <div class="card-body">
                    У випадку аварійної ситуації негайно зателефонуйте до нашої аварійної служби за номером +38 (012) 345-67-89. Наша команда оперативно відреагує на ваш виклик.
                </div>
            </div>
        </div>
    </div>
    <div class="faq__contacts-container">
        <h2>Залишилися запитання?</h2>
        <div>
            <div>
                <h5><i class="fa fa-phone"></i>Телефонуйте</h5>
                <p>+38 (012) 345-67-89 (Lifecell)</p>
                <p>+38 (017) 345-67-89 (Kyivstar)</p>
            </div>
            <div>
                <h5><i class="fa fa-envelope"></i>Пишіть</h5>
                <p>support@gazservice.ua</p>
            </div>
        </div>
    </div>
</div>
<script>
    const questionButtons = document.querySelectorAll(".card .card-header button");

    questionButtons.forEach((btn) => btn.addEventListener('click', function (){
        if(btn.classList.contains("collapsed")){
            const icon = btn.nextElementSibling;
            icon.classList.remove("fa-chevron-down");
            icon.classList.add("fa-chevron-up");
        } else {
            const icon = btn.nextElementSibling;
            icon.classList.remove("fa-chevron-up");
            icon.classList.add("fa-chevron-down");
        }
    }));
</script>