@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}
<div class="auth__register-confirm">
    <h1>Підтвердження реєстрації</h1>

    <p>
        Щоб завершити процес реєстрації, будь ласка, перейдіть за посиланням, яке ми надіслали на вашу електронну пошту.
    </p>
    <img src="~/images/email-confirmation.png"/>
</div>   

